- name: Install Docker
  apt:
    name: docker.io
    state: latest
    update_cache: true

- name: Install Docker Compose
  apt:
    name: docker-compose-v2
    state: latest
    update_cache: true

- name: Install Git
  apt:
    name: git
    state: latest
    update_cache: true